/*
*    para utilizar los iconos de clima
*/

.day_icon {
  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: 64px 0px;   /*incrementos de 64 en 64*/
  height: 64px;  
  width: 64px;
}


.partly-cloudy-day {
  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: -133px 0px;   /*incrementos de 64 en 64*/  
  height: 64px;
  width: 64px;
}


.clear-day {
  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: -65px -254px;  
  height: 64px;
  width: 64px;
}

.cloudy {

  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: 0px 0px;  
  height: 64px;
  width: 64px;

}


.fog {
  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: -68px -200px; 
  width: 64px;
  height: 64px;
}

.rain {

  background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
  background-position: -453px 0px; 
  width: 64px;
  height: 64px;

}


.wind {
	background-image: url("//www.santafe.gob.ar/assets/app/portal/imgs/icons.png");
	background-position: -258px -199px; 
	width: 64px;
	height: 64px;
}
